@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}


@tailwind base;

@tailwind components;

@tailwind utilities;



@font-face {
  font-family: 'Anonymous Pro';
  src: url('/assets/Anonymous_Pro/AnonymousPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Anonymous Pro';
  src: url('/assets/Anonymous_Pro/AnonymousPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Anonymous Pro';
  src: url('/assets/Anonymous_Pro/AnonymousPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Anonymous Pro';
  src: url('/assets/Anonymous_Pro/AnonymousPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

body {
  background-image: url('/assets/background.jpg');;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
